.fechas{
    display: flex;
    justify-content: space-around;
}

.fechas main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

label,input{
    font-size: 2rem;
}

.table{
    height: 80vh;
    border: .1rem solid black;
    background-color: white;
}

table{
    width: 100%;
}

table thead tr th{
    border: .1rem solid black;
}

table tbody tr td{
    border: .1rem solid black;
    text-align: center;
}


.detallesProducto{
    position: absolute;
    bottom: 0%;
    background-color: lightgray;
    border: .1rem solid black;
    height: 45vh;
    width: 100%;
    left: 0;
}
.detallesProducto p{
    text-align: end;
    display: inline-block;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: lightgray;
    border-radius: 50%;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: -35%;
}

.detallesProducto p:hover{
    transform: scale(1.2);
}