
h1{
    text-align: center;
}

.table{
    height: 80vh;
    background-color: white;
    overflow: scroll;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table thead tr th{
    border: .1rem solid black;
}

.ingresoPago .inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ingresoPago main label{
    width: 15rem;
    display: inline-block;
}

.ingresoPago input{
    width: 40%;
    font-size: 2rem;
}