.header{
    display: flex;
    justify-content: space-between;
}
.header select{
    font-size: 2rem;
}

.header #codigo{
    width: 5rem;
}

.principal{
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
}

.principal fieldset{
    flex: auto;
    display: flex;
    justify-content: space-around;
}

.principal fieldset main{
    display: flex;
    flex-direction: column;
    /* margin-right: 2rem; */
}

.principal fieldset main input,.principal fieldset main select{
    width: 15rem;
    font-size: 1.8rem;
}

.tables{
    display: flex;
    border: .1rem solid black;
    height: 50vh;
}

.tables main{
    border-right: .1rem solid black;
    background-color: white;
    flex: auto;
}

.tables main table{
    width: 100%;
    border-collapse: collapse;
}

thead tr th{
    border: .1rem solid black;
}

tbody td{
    text-align: end;
}

footer{
    display: flex;
}

footer .totalComprobante{
    display: flex;
    justify-content: space-around;
}

footer #observaciones{
    width: 40rem;
}

footer section{
    flex:auto;
}

footer  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.botonFalso{
    text-align: center;
    background-color: rgb(179, 179, 179);
    border: .1rem solid black;
}

table button{
    padding: 0;
    width: 100%;
    border-radius: 0;
    font-size: 1.6rem;
}

table button:hover{
    transform: scale(1);
}

.ingresarVarios .inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingresarVarios .inputs main{
    margin: .5rem 0;
}

.ingresarVarios .inputs main input{
    font-size: 1.8rem;
}

.ingresarVarios .provedores{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ingresarVarios #provedores{
    width: 70%;
}

.ingresarVarios label{
    width: 9rem;
    display: inline-block;
}


.cuentaCorriente .buscador{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.cuentaCorriente .buscador main{
    display: flex;
    flex-direction: column;
}

.cuentaCorriente .buscador input,.cuentaCorriente .buscador select,.cuentaCorriente .buscador label{
    font-size: 2rem;
}

#desde,#hasta{
    font-size: 1.5rem;
}

.table{
    height: 75vh;
    background-color: white;
    overflow: scroll;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cuentaCorriente #codigo{
    width: 10rem;
}

.cuentaCorriente #saldo{
    width: 20rem;
}