.porComprobante {
  background-color: lightgreen;
  margin: 1rem 0rem;

  display: flex;
  flex-direction: column;

  .buscador {//hacemos referencia  al parte de arriba,donde buscamos
    display: flex;
    justify-content: space-around;
  }

  .elegir {
    display: flex;
    justify-content: space-around;

    button {
      margin: 1rem auto;
      padding: 1rem;
      border-radius: 7.5rem;
      border: none;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  .listar {
    background-color: white;
    overflow: scroll;
    height: 80vh;

    table {
      border-collapse: collapse;
      width: 100%;

      thead {
        tr {
          th{
            border: 0.1rem solid black;
            text-align: start;
          }
        }
      }
      .tbody {
        font-size: 1.5rem;
        tr{
          td{
            white-space: nowrap;
          }
          .egreso{
            text-align: center;
          }
        }
        tr:hover{
          background-color: gray;
          cursor: pointer;
        }
        .total {
          width: 100%;
          .tdTotal {
            text-align: end;
            font-weight: bold;
          }
        }
      }
    }
  }
}
