
.tabla{
    background-color: white;
    overflow: scroll;
    border: .1rem solid black;
    height: 75vh;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.none{
  display: none;
}


.tabla table thead tr th,.tabla table tbody tr td{
    border: .1rem solid black;
    white-space: nowrap;
}

.buscador{
    padding-bottom: 1rem;
    display: flex;
    gap: 20rem;
    /* justify-content: space-around; */
}

.buscador .input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador .radio{
    display: flex;
    justify-content: space-around;

}
.buscador main input[type=text]{
    width: 60rem;
    font-size: 2rem;
    padding: 0;
}

.buscador main input[type=radio] {
    transform: scale(1.8);
    padding: 1rem;
}
.buscador main div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.agregarModificarCheque label{
    font-size: 1.8rem;
    display: inline-block;
    width: 9rem;
}

.agregarModificarCheque input{
    font-size: 2rem;
}

.agregarModificarCheque main{
    padding: .7rem;
}


.agregarModificarCheque main input[type=checkbox]{
    transform: scale(1.9);
}