body{
    background-color: white;
}

.contenedor{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
}

section main{
    width: 20%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
}

section main:hover{
    cursor: pointer;
}

.contenedor button{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0;
    background-color: white;
}

.contenedor button:hover{
    transform: scale(1);
    color: black;
}

.handlePedidos li{
    color: black;
}

.flecha{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-bottom: .45rem;
    border-top: solid .5rem;
    border-right: solid .5rem;
}

.flecha.abajo{
  transform: rotate(135deg);
}
  
.flecha.arriba{
  transform: rotate(315deg);
}
  

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 1rem;
}

li:hover{
    cursor: pointer;
    background-color: lightgray;
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

img{
    margin: auto;
    width: 10rem;
}

.abajo{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.abajo main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.abajo main h3{
    background-color: lightgray;
    padding: 1.2rem;
    margin: 0;
    height: min-content;
}

.abajo .botones button{
    border: .2rem solid black;
}