.cuentas .inputs main{
    margin: 1rem 0;
}

.cuentas input{
    font-size: 2rem;
    padding: 1rem;
}

.cuentas h1{
    text-align: center;
}

.cuentas label{
    font-size: 2rem;
    padding: 1rem;
}
.cuentas .none{
    display: none;
}

.provedores .inputs fieldset{
    display: flex;
    justify-content: space-around;
}

.provedores .inputs fieldset main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.provedores .inputs fieldset input{
    padding: .5rem;
    font-size: 1.5rem;
}

.provedores .tabla{
    height: 80vh;
    background-color: white;
}

.provedores table{
    width: 100%;
    border-collapse: collapse;
}

.provedores table thead tr th{
    border: .1rem solid black;
    background-color: rgb(122, 122, 122);
}

.provedores table td{
    font-weight: bold;
    border: .1rem solid black;
}

.provedores table tbody tr:hover{
    cursor: pointer;
    background-color: lightgray;
}

.agregarProvedor .inputs .doble{
    display: grid;
}

.agregarProvedor .inputs input{
    font-size: 1.5rem;
    padding: .5rem;
}

.agregarProvedor .inputs .grande{
    grid-template-columns: 1fr 2fr;
}
.agregarProvedor .inputs .igual{
    grid-template-columns: 1fr 1fr;
}

.agregarProvedor .inputs label{
    display: inline-block;
    width: 10rem;
}

.agregarProvedor .inputs .inputGrande{
    width: 80%;
}

.agregarProvedor .inputs .inputChico{
    width: 20%;
}

.agregarProvedor .inputs select{
    padding: .5rem;
    font-size: 1.5rem;
}

.agregarProvedor main{
margin: .5rem 0;
}


.listaSaldo .tabla{
    height: 80vh;
    background-color: white;
    overflow: scroll;
}

.listaSaldo table{
    border-collapse: collapse;
    width: 100%;
}

.listaSaldo table th,.listaSaldo table td{
    border: .1rem solid black;
}


.listaSaldo table tbody td:not(.text-end){
    text-align: center;
}

tbody tr:hover{
    background-color: lightgray;
}

.text-end{
    text-align: end;
}


.listaSaldo .saldo{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.listaSaldo .saldo label{
    font-size: 2rem;
}

.listaSaldo .saldo input{
    padding: .5rem;
    font-size: 1.5rem;
}