.rubros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #90ee90;

    .agregar{
        padding: 0 2rem;
        label{
            display: inline-block;
            width: 90%;
            font-size: 2rem;
        }
        input{
            font-size: 2rem;
            padding: .5rem;
        }
    }

    .tabla{
        width: 100%;
        overflow: scroll;
        height: 80vh;
        background-color: white;
        table{
            width: 100%;
            border-collapse: collapse;
            thead{
                tr{
                    th{
                        border: .1rem solid black;
                    }
                }
            }
            tbody{
                tr{
                    &:hover{
                        cursor: pointer;
                        background-color: lightgray;
                    }
                    td{
                        text-align: end;
                    }
                }
            }
        }
    }
}
