.rubros{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 2rem;
}

.agregar label{
    width: 10rem;
    display: inline-block;
}

.tabla,.subRubros{
    height: 90vh;
    background-color: white;
}

table{
    width: 100%;
}

table thead tr th{
    border: .1rem solid black;
}

.grafico .inputs{
    display: flex;
    justify-content: space-around;
}

.grafico table{
    height: 80vh;
    background-color: white;
    margin: 1rem
}

.tbodySubRubro button{
    padding: 1rem 0;
    border-radius: 0;
    width: 100%;
}

.tbodySubRubro button:hover{
    transform: scale(1);
    background-color: lightgray;
    color: black;
    border: .1rem solid black;
}