.listadoPorMarca .marcas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.listadoPorMarca .lista{
    height: 80vh;
    background-color: white;
    overflow: scroll;
}

.listadoPorMarca .lista table,.listadoStock .listar table{
    width: 100%;
}

.listadoPorMarca .lista table tr th,.listadoPorMarca .lista table tr td,.listadoStock .listar table tr th,.listadoStock .listar table tr td{
    border: .1rem solid black;
}

.aumentoPorcentaje .inputs{
    display: flex;
    gap: 2rem;
}

.aumentoPorcentaje .inputs main{
    display: flex;
    flex-direction: column;
}

.seccionCambioCodigo .inputs,.seccionCambioCodigo .inputs main{
    display: flex;
    flex-direction: column;
}


.seccionCambioCodigo #codigo,.seccionCambioCodigo #nuevoCodigo{
    width: 30%;
}

.listadoStock .buscador{
    display: flex;
    justify-content: space-around;
}

.listadoStock .buscador main{
    display: flex;
    flex-direction: column;
}

.listadoStock .buscador .button{
    align-self: flex-end;
}

.listadoStock .listar{
    background-color: white;
    height: 70vh;
    overflow: scroll;
}


.productos .buscador{
    display: flex;
    gap: 2rem;
}

.productos .buscador main{
    display: flex;
    flex-direction: column;

}

.productos select,.productos .buscador input{
    font-size: 3rem;
}

.productos .buscador .buscador-producto{
    width: 70%;
}

.productos .lista{
    background-color: white;
    overflow: scroll;
    height: 80vh;    
}

.productos .lista tr th,.productos .lista tr td{
    border: .1rem solid black;
    font-size: 2.2rem;
    white-space: nowrap;
}

.agregarProducto .codigos,.modificarProducto .codigos{
    display: flex;
    justify-content: space-around;
}

.agregarProducto main, .modificarProducto main{
    display: flex;
    flex-direction: column;
}

.agregarProducto .unidad, .modificarProducto .unidad{
    display: flex;
    justify-content: space-around;
}

.agregarProducto .marcaProvedor,.modificarProducto .marca{
    display: flex;
    justify-content: space-around;
}

.agregarProducto .precio,.modificarProducto .costos{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.agregarProducto section,.modificarProducto section{
    margin: 1.2rem auto;
}

.agregarProducto input,.modificarProducto input{
    font-size: 1.6rem;
}

.agregarProducto .observaciones,.modificarProducto .observaciones{
    display: flex;
    justify-content: center;
}
.agregarProducto .observaciones main,.modificarProducto .observaciones main{
    width: 70%;
}

.agregarProducto .precioFinal,.modificarProducto .precioFinal{
    display: flex;
    justify-content: space-around;
} 

/* cambio de precios */

h1{
    text-align: center;
}

.entradas{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.entradas main{
    display: flex;
    flex-direction: column;
}

.tablas{
    display: flex;
    justify-content: space-around;
}

.tablaNuevo{
    border-left: .1rem solid black;
}

.tablaViejo{
    border-right: .1rem solid black;
}

.tablaViejo,.tablaNuevo{
    width: 100%;
    background-color: white;
    height: 70vh;
    overflow: scroll;
}

table tr th{
    border: .1rem solid black;
}