.fechas{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.fechas main{
    display: flex;
    flex-direction: column;
}

.hora{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}