.vendedores{
    display: flex;
}

.inputs{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label{
    display: inline-block;
    width: 9rem;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
    background-color: lightgray;
    border: .1rem solid black;
    border-radius: 7.5rem;
}

li{
    margin: 1rem;
    list-style: none;
}

li:hover{
    cursor: pointer;
}