/* Inicio Globales */
main{
    display: flex;
    flex-direction: column;
}

#codigoC{
    width: 8rem;
}

#codigo{
    width: 12rem;
}

main.nombre{
    width: 100%;
}

fieldset > #cliente{
    display: flex;
    flex-direction: column;
}

fieldset > #cliente section{
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr 1fr;
}

#cliente .medio{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buscar{
    display: flex;
    gap: 2rem;
}

.productos{
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    gap: 2rem;
}

.productos .parteInfo{
    display: flex;
    justify-content: space-between;
}

.productos input{
    font-size: 2.2rem;
}

.descripcion{
    width: 70%;
}

#iva,#empresa{
    height: 100%;
}

#precio{
    width: 10rem;
}

.empresa{
    width: 16rem;
    justify-self: end;
}

.tabla{
    height: 50vh;
    background-color: white;
    border: .1rem solid black;
    overflow: scroll;
}

.tabla table thead tr th,.tabla table tbody tr td{
    border: .1rem solid black;
}

.total{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

img{
    width: 3rem;
}

.total .descuento{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.radioYtotal{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vendedor p{
    border: .1rem solid black;
}

.radios{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-self: center;
}

input[type="radio"]{
    transform: scale(1.8);
}

.descuento input{
    width: 30%;
}

.botones{
    margin: 0;
}

button{
    background-color: transparent;
}

button p{
    margin: 0;
}

button:hover{
    background-color: transparent;
}
/* Fin Globales */

/* Inicio Emitir Comprobante */

.parteAfip{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parteAfip button{
    align-self: center;
    justify-self: center;
    background-color: orangered;
    color: white;
    border: .1rem solid white;
}

.emitirComprobante .arriba{
    display: flex;
    justify-content: space-around;
}

.numeroDeFactura{
    font-size: 1rem;
}

.numeroDeFactura input{
    width: 45%;
}

.numeroDeFactura button{
    padding: .5rem;
    border-radius: .8rem;
    margin-right: 1rem;
}

.opcional{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.numeroDeFactura button:hover{
    transform: scale(1);
    color: black;
}

.mostrarNegro .numeroDeFactura button{
    /* color: white; */
    background-color: lightgray;
}

.mostrarNegro .vendedor{
    border: .1rem solid white;
}

/* Fin Emitir Comprobante */