.utlimasVentas{

    .header{
        display: flex;
        justify-content: space-around;

        main{
            display: flex;
            flex-direction: column;

            label{
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
            }

            input{
                font-size: 2rem;
                padding: 1rem;
            }
        }
    }
    .tabla{
        min-height: 50vh;
        border: .1rem solid black;
        overflow: scroll;

        table{
            border-collapse: collapse;
            width: 100%;

            th,td{
                border: .1rem solid black;
            }

            .imprimir{
                width: 100%;
            }
            .text-bold{
                font-weight: bold;
            }

            tbody tr{
                &:hover{
                    cursor: pointer;
                    background-color: lightgray;
                }
            }
        }
    }



}