.listadoSaldo{
    text-align: center;
}

.listadoSaldo .head{
    display: flex;
    justify-content: space-around;
}

.listadoSaldo h1,.listadoSaldo h3{
    margin: 0;
}

.listadoSaldo .tabla{
    overflow: scroll;
    height: 70vh;
    background-color: white;
    border: .1rem solid black;
}

.listadoSaldo .tabla .cliente{
    text-align: start;
}

.listadoSaldo .tabla table thead tr th{
    border: .1rem solid black;
}

.arreglarSaldo main{
    margin: 2rem 0;
}

.arreglarSaldo label{
    display: inline-block;
    width: 10rem;
}

.saldos{
    display: flex;
    gap: 2rem;
}

.saldos main{
    display: flex;
    flex-direction: column;
}

.clientes .buscador{
    margin: 2rem;
}

.clientes .tabla{
    background-color: white;
    height: 75vh;
    overflow: scroll;
}


.clientes .tabla tr th,.clientes .tabla tr td{
    border: .1rem solid black;
    white-space: nowrap;
    font-size: 2rem;
}

/*Agregar clientes*/

.agregarCliente main, .modificarCliente main{
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem;  
}

.agregarCliente .tipo,.modificarCliente .tipo{
    display: flex;
    justify-content: space-around;
}

.agregarCliente .tipo input, .modificarCliente .tipo input{
    transform: scale(2);
    align-self: center;
}

.agregarCliente .inputs,.modificarCliente .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}