.seccionCancelados .buscador{
    display: flex;
    justify-content: space-around;
}

.seccionCancelados .listar{
    border: .1rem solid black;
    height: 80vh;
    background-color: white;
    overflow: scroll;
}

.seccionCancelados .listar table thead tr{
    border: .1rem solid black;
}

.seccionCancelados tr.total{
    border: .1rem solid black;
}

.seccionCancelados .total{
    font-weight: bold;
}

.utlimasVentas .header{
    display: flex;
    justify-content: space-around;
}

.utlimasVentas .header main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.utlimasVentas .tabla{
    height: 75vh;
    border: .1rem solid black;
    background-color: white;
    overflow: scroll;
}

.utlimasVentas .tabla table thead tr,.utlimasVentas .tabla table tbody td{
    border: .1rem solid black;
}

.imprimir{
    font-size: 1.2rem;
    border: .1rem solid black;
    width: 100%;
    border-radius: 0;
    padding: .5rem;
}

.imprimir:hover{
    transform: scale(1);
}

.cargarTarjeta h1,.agregarCheque h1{
    text-align: center;
}

.cargarTarjeta main,.agregarCheque main{
    margin: 2rem auto;
}

.cargarTarjeta label,.agregarCheque label{
    display: inline-block;
    width: 15rem;
}

.imprimirPresupuesto{
    display: grid;
    height: calc(100vh - 2rem);
}


.imprimirPresupuesto main #puntoVenta{
    width: 25%;
}

.imprimirPresupuesto .numeros{
    display: flex;
    align-items: start;
    gap: 2rem;
    justify-content: center;
}

.imprimirPresupuesto main #numero{
    width: 50%;
}

.imprimirPresupuesto .botones{
    align-self: flex-end;
}