.buscador{
    display: flex;
    justify-content: space-around;
}

.buscador #codigoCliente,.buscador #saldo,.buscador #saldo_p{
    width: 6em;
}

.buscador .cliente{
    width: 35%;
}

.buscador main:not(.botones){
    display: flex;
    flex-direction: column;
}

.buscador .botones{
    gap: 2rem;
}

.listarventas,.listarDetalleVenta{
    margin-bottom: 1rem;
    background-color: white;
    height: 35vh;
    overflow: scroll;
    border: .1rem solid black;
}

table tr td,table tr th{
    border: .1rem solid black;
}

table input{
    margin: 0;
    padding: 0;
    width: 100% ;
    font-size: 1.5rem;
}
