body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

main{
  border: .1rem solid black;
}


.fechas{
  display: flex;
  justify-content: space-around;
}
main{
  border: none;
  display: flex;
  flex-direction: column;
}

.fechas input{
  font-size: 1rem;
  padding: .5rem;
}

.ingreso{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

#saldoInicial{
  font-size: 1.5rem;
  padding: 1rem;
}